<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>export</title>
</head>
{% extends "home.html" %}
{% block content %}
    <form action = "{{ url_for('docustomexport') }}" method = "POST">
      <select name="Select">
        <option value = "Person">Person </option>
        <option value = "Supervision">Supervision </option>
        <option value = "Supervision_Class">SupervisionClass </option>
        <option value = "Course">Course </option>
        <option value = "CourseGeneration">CourseGeneration </option>
        <option value = "Student">Student </option>
        <option value = "Term">Term </option>
        <option value = "Offering">Offering </option>
        <option value = "Role">Role </option>
        <option value = "ProjectClass">ProjectClass </option>
        <option value = "PseudoPeople">PseudoPeople </option>
        <option value = "RolePerson">RolePerson </option>
        <option value = "ProjectSupervision">ProjectSupervision</option>
        <option value = "Adjustment">Adjustment </option>
      </select>
        <input type = submit value=submit>
    </form>
{% endblock %}
</body>
</html>