<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <style>
body {color: white;}
</style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>HALBRED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body bgcolor="101111">
<div class="container">
    <img alt="Brand" src="https://my.mun.ca/images/MUN_Logo_RGB.png" style="width:125px;" class="img-responsive">
  <h3>H.A.L.B.E.R.D</h3>
  <p>Logistics database</p>
  <p>Started by Keegan J. Brophy <a href="mailto:kb6737@mun.ca?Subject=Hello%20HALBRED" target="_top">kb6737@mun.ca</a> in 2017</p>
</div>
++
<a href="/profile/1">profile</a>
++
<a href="/profile/1/history">profile history</a>
++
<a href="/">home</a>
++
<a href="/listm">listm</a>
++
<a href="/peeweetable">reset</a>
++
<a href="/populate">populate</a>
++
<a href="/export">export</a>
++
<a href="/import">import</a>
++
<a href="/upload">upload</a>
++
 <hr>
    {% block content %}{% endblock %}
<p>
to do
  <li>Rework the naming and printing conventions to be more presentable to a public audience.</li>
  <li>Implement an audit table</li>
  <li>time stamp all table actions so we can skim by time to present recent info</li>
  <li>GET DIRECTIONS FROM SUPER ABOUT WTDN</li>
  <li></li>



</p>
</body>
</html>