<!DOCTYPE html>
<html lang="en">
<head>
        <style>
body {color: white;}
</style>
    <meta charset="UTF-8">
    <title>Import</title>
</head>
<body bgcolor="101111">

{% extends "home.html" %}
{% block content %}
    <form action = "{{ url_for('docustomimport') }}" method = "POST">
      <select name="Select">
        <option value = "Person">Person </option>
        <option value = "Supervision">Supervision </option>
        <option value = "Supervision_Class">SupervisionClass </option>
        <option value = "Course">Course </option>
        <option value = "Course_Generation">CourseGeneration </option>
        <option value = "Student">Student </option>
        <option value = "Term">Term </option>
        <option value = "Offering">Offering </option>
        <option value = "Role">Role" </option>
        <option value = "Project_Class">ProjectClass </option>
        <option value = "Pseudo_People">PseudoPeople </option>
        <option value = "Role_Person">RolePerson </option>
        <option value = "Project_Supervision">ProjectSupervision</option>
        <option value = "Adjustment">Adjustment </option>
      </select>
            <input type=submit value=submit>
    </form>
{% endblock %}
</body>
</html>