<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% for CID in CID %}
    <title>DOOMGUY{{CID}}</title>
    {% endfor %}
</head>
 <table border = 1>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
         </thead>
         {% for row in Person %}
            <tr>
                <td>{{row["ID"]}}</td>
               <td>{{row["Name"]}}</td>
                <td>{{row["Email"]}}</td>
            </tr>
       {% endfor %} </table>
<body>
<a href="/">home</a>
</body>
</html>