<!doctype html>
<html>
   <head>
           <style>
body {color: white;}
</style>
      <title>
         wew lads
      </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
   {% if error %}
      <p><strong>Error:</strong> {{ error }}
{% endif %}
   <body bgcolor="101111">
   {% extends "Home.html" %}
{% block content %}
        {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
         </thead>
         {% for row in Person %}
            <tr>
                <td>{{row["ID"]}}</td>
                <td>{{row["Name"]}}</td>
                <td>{{row["Email"]}}</td>
            </tr>
       {% endfor %}</table>
<table border = 5>
       <thead>
            <td>PseudoID</td>
            <td>PName</td>
            <td>PEmail</td>
       </thead>
         {% for row in Pseudo %}
            <tr>
                <td>{{row["PseudoID"]}}</td>
                <td>{{row["PName"]}}</td>
                <td>{{row["PEmail"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
       <thead>
            <td>CRN</td>
            <td>Subj</td>
            <td>Crse</td>
       </thead>
         {% for row in Course %}
            <tr>
                <td>{{row["CRN"]}}</td>
                <td>{{row["Subj"]}}</td>
                <td>{{row["Crse"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
       <thead>
            <td>SupervisionClassID</td>
            <td>Grad</td>
            <td>UGrad</td>
            <td>Master</td>
       </thead>
         {% for row in SupervisionClass %}
            <tr>
                <td>{{row["SupervisionClassID"]}}</td>
                <td>{{row["Grad"]}}</td>
                <td>{{row["UGrad"]}}</td>
                <td>{{row["Master"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
       <thead>
            <td>ProjectClassID</td>
            <td>Grad</td>
            <td>UGrad</td>
            <td>Master</td>
       </thead>
         {% for row in ProjectClass %}
            <tr>
                <td>{{row["ProjectClassID"]}}</td>
                <td>{{row["Grad"]}}</td>
                <td>{{row["UGrad"]}}</td>
                <td>{{row["Master"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
       <thead>
            <td>ProjectSupervisionID</td>
            <td>ProjectClassID</td>
            <td>ID</td>
            <td>PseudoID</td>
       </thead>
         {% for row in ProjectSupervision %}
            <tr>
                <td>{{row["ProjectSupervisionID"]}}</td>
                <td>{{row["ProjectClassID"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["PseudoID"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
       <thead>
            <td>SupervisionID</td>
            <td>SupervisionClassID</td>
            <td>ID</td>
            <td>PseudoID</td>
       </thead>
         {% for row in Supervision %}
            <tr>
                <td>{{row["SupervisionID"]}}</td>
                <td>{{row["SupervisionClassID"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["StudentID"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
       <thead>
            <td>AdjustmentID</td>
            <td>ID</td>
            <td>ADJWeight</td>
            <td>AUDITDATE</td>
            <td>AUDITCOMMENT</td>
       </thead>
         {% for row in Adjustment %}
            <tr>
                <td>{{row["AdjustmentID"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["ADJWeight"]}}</td>
                <td>{{row["AUDITDATE"]}}</td>
                <td>{{row["AUDITCOMMENT"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
       <thead>
            <td>ID</td>
            <td>RoleID</td>
       </thead>
         {% for row in RolePerson %}
            <tr>
                <td>{{row["ID"]}}</td>
                <td>{{row["RoleID"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
       <thead>
            <td>RoleID</td>
            <td>ViewOnlyYou</td>
            <td>ViewOnlyDept</td>
            <td>ViewOnlyAll</td>
            <td>EditDept</td>
       </thead>
         {% for row in Role %}
            <tr>
                <td>{{row["RoleID"]}}</td>
                <td>{{row["ViewOnlyYou"]}}</td>
                <td>{{row["ViewOnlyDept"]}}</td>
                <td>{{row["ViewOnlyAll"]}}</td>
                <td>{{row["EditDept"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
       <thead>
            <td>OID</td>
            <td>StudentsTaking</td>
            <td>ID</td>
            <td>SemesterID</td>
            <td>CourseGenID</td>
       </thead>
         {% for row in Offering %}
            <tr>
                <td>{{row["OID"]}}</td>
                <td>{{row["StudentsTaking"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["SemesterID"]}}</td>
                <td>{{row["CourseGenID"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
       <thead>
            <td>SemesterID</td>
            <td>Year</td>
            <td>Session</td>
       </thead>
         {% for row in Term %}
            <tr>
                <td>{{row["SemesterID"]}}</td>
                <td>{{row["Year"]}}</td>
                <td>{{row["Session"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
       <thead>
            <td>CourseGenID</td>
            <td>CRN</td>
            <td>CreditHours</td>
            <td>Labs</td>
            <td>Title</td>
       </thead>
         {% for row in CourseGeneration %}
            <tr>
                <td>{{row["CourseGenID"]}}</td>
                <td>{{row["CRN"]}}</td>
                <td>{{row["CreditHours"]}}</td>
                <td>{{row["Labs"]}}</td>
                <td>{{row["Title"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
      </table>
   <form action = "{{ url_for('listm') }}" method = "POST">
         <h3>QUICK FIX NEEDED< WILL BREAK IF THE FIRST VALUE ISNT DEFFINED</h3>
       WHAT TO UPDATE Offering is '1' Project super is '2' supervison is '3' Pseudopeople is '4' Failing to enter this will break the page<br>
       <input type="text" name="FIXER" /><br>
       ID Person ID<br>
       <input type = "text" name = "ID" /><br>
       SID Supervision ID<br>
       <input type = "text" name = "SID" /><br>
       PID ProjectSupervision ID<br>
       <input type = "text" name = "PID" /><br>
       OID Offering ID<br>
       <input type = "text" name = "OID" /><br>
       CGID Coursegeneration ID<br>
       <input type = "text" name = "CGID" /><br>
       SCID Supervision CLass<br>
       <input type = "text" name = "SCID" /><br>
       PCID ProjectClasssID<br>
       <input type = "text" name = "PCID" /><br>
       SEM Semester<br>
       <input type = "text" name = "SEM" /><br>
       SUDO Pseudo People<br>
       <input type = "text" name = "SUDO" /><br>
       <!--ADJTO <br>-->
       <!--<input type = "text" name = "ADJTO" /><br>-->
       ADJW adjustment weight<br>
       <input type = "text" name = "ADJW" /><br>
       AUCOM anditory comment for adjustments<br>
       <input type="text" name="AUCOM"/><br>

       <input type = "submit" value = "submit" /><br>

                    </label>
            </div>
<!---->
      </form>

   <a href="/resettables">reset</a>
{% endblock %}
   </body>
</html>
