<!doctype html>
<html>
   <head>
           <style>
body {color: white;}
</style>
      <title>
         wew lads
      </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
   <body bgcolor="101111">
   {% extends "Home.html" %}
{% block content %}
        {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}
 <table border = 1>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
         </thead>
            <tr>
                <td>{{person.ID}}</td>
                <td>{{person.Name}}</td>
                <td>{{person.Email}}</td>
            </tr>
            <td>SupervisionID</td>
            <td>ID</td>
            <td>StudentID</td>
            <td>SupervisionClassID</td>
            <td>SemesterID</td>
            <tr>
                <td>{{supervising.SupervisionID}}</td>
                <td>{{supervising.ID}}</td>
                <td>{{supervising.StudentID}}</td>
                <td>{{supervising.SupervisionClassID}}</td>
                <td>{{supervising.SemesterID}}</td>
            </tr>
            <td>OID</td>
            <td>StudentsTaking</td>
            <td>ID</td>
            <td>SemesterID</td>
            <td>CourseGenID</td>
            <tr>
                <td>{{offer.OID}}</td>
                <td>{{offer.StudentsTaking}}</td>
                <td>{{offer.ID}}</td>
                <td>{{offer.SemesterID}}</td>
                <td>{{offer.CourseGenID}}</td>
            </tr>
            <td>ProjectSupervisionID</td>
            <td>ID</td>
            <td>PseudoID</td>
            <td>ProjectClassID</td>
            <td>SemesterID</td>
            <tr>
                <td>{{Psuper.ProjectSupervisionID}}</td>
                <td>{{Psuper.ID}}</td>
                <td>{{Psuper.PseudoID}}</td>
                <td>{{Psuper.ProjectClassID}}</td>
                <td>{{Psuper.SemesterID}}</td>
            </tr>
   </table>
   {% endblock %}
</html>