<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>HALBRED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<base href="https://my.mun.ca">
</head>
<body>

<div class="container">
    <img alt="Brand" src="https://my.mun.ca/images/MUN_Logo_RGB.png" style="width:125px;" class="img-responsive">
  <h3>H.A.L.B.R.E.D</h3>
  <p>Logistics database</p>
  <p>Started by Keegan J. Brophy <a href="mailto:kb6737@mun.ca?Subject=Hello%20HALBRED" target="_top">kb6737@mun.ca</a> in 2017</p>

</div>
</body>
</html>