<!DOCTYPE html>
<html lang="en">
   <body>

      <form action = "{{ url_for('addrec2') }}" method = "POST">
         <h3>Student Information</h3>
         Name<br>
         <input type = "text" name = "nm" /><br>

         Address<br>
         <textarea name = "add" ></textarea><br>

         City<br>
         <input type = "text" name = "city" /><br>

         PINCODE<br>
         <input type = "text" name = "pin" /><br>
         <input type = "submit" value = "submit" /><br>

         <a href="/">home</a>
      </form>

   </body>
</html>
