<!DOCTYPE html>
<html lang="en">
<head>
        <style>
body {color: white;}
</style>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body bgcolor="101111">

{% extends "home.html" %}
{% block content %}

<h3>if you are importing after your upload you need to do it manualy right now. Also it needs to be in the account-xxxx.cvs form beacuse i havn't installed identifyers yet</h3>
 <form action = "{{ url_for('upload') }}" enctype=multipart/form-data method = "POST">
     <input type=file name=file>
      <select name="Select">
        <option value = "Person">Person </option>
        <option value = "Supervision">Supervision </option>
        <option value = "SupervisionClass">SupervisionClass </option>
        <option value = "Course">Course </option>
        <option value = "CourseGeneration">CourseGeneration </option>
        <option value = "Student">Student </option>
        <option value = "Term">Term </option>
        <option value = "Offering">Offering </option>
        <option value = "Role">Role" </option>
        <option value = "ProjectClass">ProjectClass </option>
        <option value = "PseudoPeople">PseudoPeople </option>
        <option value = "RolePerson">RolePerson </option>
        <option value = "ProjectSupervision">ProjectSupervision</option>
        <option value = "Adjustment">Adjustment </option>
      </select>
     <input type=submit value=Upload>
 </form>
{% endblock %}
</body>
</html>