{%- extends "bootstrap/base.html" %}

{% block title %}ECE Teaching Equivalencies{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block scripts -%}
  {{ super() }}
  <script type="text/javascript" src="/static/js/material.min.js"></script>
  <script type="text/javascript" src="/static/js/ripples.min.js"></script>
  <script type="text/javascript">$.material.init()</script>
{%- endblock %}

{% block styles -%}
    {{super()}}

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ripples.min.css">

    <!-- Local style -->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/teq.css')}}">
{% endblock %}

{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}
