{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
        <div class="col-md-12">
          {{utils.flashed_messages(messages)}}
        </div>
      </div>
    {%- endif %}
    {%- endwith %}

    <table class="table table-condensed table-hover table-striped">
      <thead>
        <th></th>
        <th>Subject</th>
        <th>Code</th>
        <th>Most recent name</th>
        <th>Generations</th>
      </thead>

      <tbody>
        {%- for c in courses %}
          <tr>
            <td><a href="/course/{{ c.id }}">&#x1F50E;</a></td>
            <td>{{ c.subject }}</td>
            <td>{{ c.code }}</td>
            <td>{{ c.most_recent_name() }}</td>
            <td>
              {%- for gen in c.generations %}
                <a href="/course/generation/{{ gen.id }}">
                  {{ gen.years() }}</a>
                {{- "," if not loop.last }}
              {%- endfor %}
            </td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
{%- endblock %}
