{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
        <div class="col-md-12">
          {{utils.flashed_messages(messages)}}
        </div>
      </div>
    {%- endif %}
    {%- endwith %}

    <h1 class="page-header">
      {{ course.subject }} {{ course.code }}
    </h1>

    {%- for gen in generations %}
      <div class="panel">
        <div class="panel-heading">
          <a class="pull-right" href="/course/generation/{{ gen.id }}">
            &#x1F50E;
          </a>

          <a href="/course/generation/{{ gen.id }}">
            {{ gen.years() }}
          </a>
        </div>
        <div class="panel-body">
          <div class="col-md-2">
            <div>{{ gen.credit_hours }} credit-hours</div>
            <div>{{ gen.lecture_hours }} lecture hours</div>
            <div>{{ gen.lab_hours }} lab hours</div>
          </div>

          <div class="col-md-8">
            <a href="/course/generation/{{ gen.id }}">{{ gen.title }}</a>
            {{ gen.description }}
          </div>

          <div class="col-md-2">
            {{ gen.other_info }}
          </div>
        </div>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Semester</th>
            <th>Enrolment</th>
            <th>Lab sections</th>
            <th>Credit</th>
          </tr>
        </thead>

        <tbody>
          {%- for o in gen.offerings %}
            <tr>
              <td>
                <a href="/course/offering/{{ o.id }}">{{ o.semester }}</a>
              </td>
              <td class="text-right">{{ o.enrolment }}</td>
              <td class="text-right">{{ o.lab_sections }}</td>
              <td class="text-right">{{ o.credit() }}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    {%- endfor %}
  </div>
{%- endblock %}
