<!doctype html>
<html>
   <head>
      <title>
         course
      </title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
   {% extends "home.html" %}
   {% block content %}
   <body>
<table border = 1>
    <h3>Course</h3>
    <thead>
        <td>CRN</td>
        <td>Subj</td>
        <td>Crse</td>
    </thead>
    <tr>
        <td>{{course.id}}</td>
        <td>{{course.subject}}</td>
        <td>{{course.code}}</td>
    </tr>
</table>
<table border = 1>
    <h3>Course</h3>
    <thead>
        <td>Gen</td>
        <td>labs</td>
        <td>credit_hours</td>
        <td>lecture_hours</td>
        <td>title</td>
        <td>comments</td>
        <td>course</td>
        <td>other_info</td>
        <td>previous_course</td>
        <td>start_year</td>
        <td>end_year</td>
    </thead>
    <p>Changes Between Generations</p>
    <p>+++++++++++++++++++++++++++</p>
    <p>{{list1}}</p>
    <p>===========================</p>
    {% for row in generation %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.labs}}</td>
        <td>{{row.credit_hours}}</td>
        <td>{{row.lecture_hours}}</td>
        <td>{{row.title}}</td>
        <td>{{row.comments}}</td>
        <td>{{row.course.id}}</td>
        <td>{{row.other_info}}</td>
        <td>{{row.previous_course}}</td>
        <td>{{row.start_year}}</td>
        <td>{{row.end_year}}</td>
    </tr>
    {% endfor %}
</table>
{%endblock%}
   </body>
</html>