<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>HALBERD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
++
<!--<a href="/profile/1">profile</a>-->
<!--++-->
<a href="/profile/1/true/any">profile</a>
++
<a href="/">home</a>
++
<a href="/test_csv2">test_csv2</a>
++
<!--<a href="/export">export</a>-->
<!--++-->
<a href="/listm">Masterlist</a>
++
<!--xxxxxxxxxxxxxxxxxxx-->
<!--<a href="/peeweetable">Reset</a>-->
<!--xxxxxxxxxxxxxxxxxxx-->
<a href="/s/course/55">search by course internal id</a>
++
<a href="/s/c/1020">search by course code</a>
++
<!--<a href="/offering">gen from data</a>-->
<!--++-->
<a href="/s/gen/55">search by generation </a>
++
<a href="/yearly/true/">reports</a>
++


<hr>
{% block content %}{% endblock %}
</html>
<div class="container">
    <img alt="Brand" src="https://my.mun.ca/images/MUN_Logo_RGB.png" style="width:125px;" class="img-responsive">
    <!--<h3>H.A.L.B.E.R.D</h3>-->
    <p>Logistics database</p>
    <p>Started by Keegan J. Brophy <a href="mailto:kb6737@mun.ca?Subject=Hello%20HALBRED" target="_top">kb6737@mun.ca</a> in 2017</p>
</div>