<!doctype html>
<html>
   <head>
           <style>
body {color: white;}
</style>
      <title>
         wew lads
      </title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
   {% if error %}
      <p><strong>Error:</strong> {{ error }}
{% endif %}
   <body bgcolor="101111">
   {% extends "Home.html" %}
{% block content %}
        {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}
      <table border = 1>
       <h3>Person</h3>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
         </thead>
         {% for row in Person %}
            <tr>
                <td>{{row["ID"]}}</td>
                <td>{{row["Name"]}}</td>
                <td>{{row["Email"]}}</td>
            </tr>
       {% endfor %}</table>
<table border = 5>
    <h3>PseudoPerson</h3>
       <thead>
            <td>PseudoID</td>
            <td>PName</td>
            <td>PEmail</td>
       </thead>
         {% for row in Pseudo %}
            <tr>
                <td>{{row["PseudoID"]}}</td>
                <td>{{row["PName"]}}</td>
                <td>{{row["PEmail"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
    <h3>Course</h3>
       <thead>
            <td>CRN</td>
            <td>Subj</td>
            <td>Crse</td>
       </thead>
         {% for row in Course %}
            <tr>
                <td>{{row["CRN"]}}</td>
                <td>{{row["Subj"]}}</td>
                <td>{{row["Crse"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 3>
    <h3>Student</h3>
       <thead>
            <td>StudentID</td>
            <td>SName</td>
            <td>SEmail</td>

       </thead>
         {% for row in Student %}
            <tr>
                <td>{{row["StudentID"]}}</td>
                <td>{{row["SName"]}}</td>
                <td>{{row["SEmail"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
    <h3>SupervisionClass</h3>
       <thead>
            <td>SupervisionClassID</td>
            <td>Description</td>
            <td>Weight</td>

       </thead>
         {% for row in SupervisionClass %}
            <tr>
                <td>{{row["SupervisionClassID"]}}</td>
                <td>{{row["Description"]}}</td>
                <td>{{row["Weight"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
    <h3>ProjectClass</h3>
       <thead>
            <td>ProjectClassID</td>
            <td>Description</td>
            <td>Weight</td>
       </thead>
         {% for row in ProjectClass %}
            <tr>
                <td>{{row["ProjectClassID"]}}</td>
                <td>{{row["Description"]}}</td>
                <td>{{row["Weight"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
    <h3>ProjectSupervision</h3>
       <thead>
            <td>ProjectSupervisionID</td>
            <td>ProjectClassID</td>
            <td>ID</td>
            <td>PseudoID</td>
            <td>SemesterID</td>

       </thead>
         {% for row in ProjectSupervision %}
            <tr>
                <td>{{row["ProjectSupervisionID"]}}</td>
                <td>{{row["ProjectClassID"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["PseudoID"]}}</td>
                <td>{{row["SemesterID"]}}</td>

            </tr>
         {% endfor %}</table>
<table border = 1>
    <h3>Supervision</h3>
       <thead>
            <td>SupervisionID</td>
            <td>SupervisionClassID</td>
            <td>ID</td>
            <td>StudentID</td>
            <td>SemesterID</td>

       </thead>
         {% for row in Supervision %}
            <tr>
                <td>{{row["SupervisionID"]}}</td>
                <td>{{row["SupervisionClassID"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["StudentID"]}}</td>
                <td>{{row["SemesterID"]}}</td>

            </tr>
         {% endfor %}</table>
<table border = 5>
   <h3>Adjustment</h3>
       <thead>
            <td>AdjustmentID</td>
            <td>ID</td>
            <td>ADJWeight</td>
            <td>AUDITDATE</td>
            <td>AUDITCOMMENT</td>
       </thead>
         {% for row in Adjustment %}
            <tr>
                <td>{{row["AdjustmentID"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["ADJWeight"]}}</td>
                <td>{{row["AUDITDATE"]}}</td>
                <td>{{row["AUDITCOMMENT"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
   <h3>RolePerson</h3>
       <thead>
            <td>ID</td>
            <td>RoleID</td>
       </thead>
         {% for row in RolePerson %}
            <tr>
                <td>{{row["ID"]}}</td>
                <td>{{row["RoleID"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
    <h3>Role</h3>
       <thead>
            <td>RoleID</td>
            <td>ViewOnlyYou</td>
            <td>ViewOnlyDept</td>
            <td>ViewOnlyAll</td>
            <td>EditDept</td>
       </thead>
         {% for row in Role %}
            <tr>
                <td>{{row["RoleID"]}}</td>
                <td>{{row["ViewOnlyYou"]}}</td>
                <td>{{row["ViewOnlyDept"]}}</td>
                <td>{{row["ViewOnlyAll"]}}</td>
                <td>{{row["EditDept"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
    <h3>Offering</h3>
       <thead>
            <td>OID</td>
            <td>StudentsTaking</td>
            <td>ID</td>
            <td>SemesterID</td>
            <td>CourseGenID</td>
       </thead>
         {% for row in Offering %}
            <tr>
                <td>{{row["OID"]}}</td>
                <td>{{row["StudentsTaking"]}}</td>
                <td>{{row["ID"]}}</td>
                <td>{{row["SemesterID"]}}</td>
                <td>{{row["CourseGenID"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 5>
    <h3>Term</h3>
       <thead>
            <td>SemesterID</td>
            <td>Year</td>
            <td>Session</td>
       </thead>
         {% for row in Term %}
            <tr>
                <td>{{row["SemesterID"]}}</td>
                <td>{{row["Year"]}}</td>
                <td>{{row["Session"]}}</td>
            </tr>
         {% endfor %}</table>
<table border = 1>
    <h3>CourseGeneration</h3>
       <thead>
            <td>CourseGenID</td>
            <td>CRN</td>
            <td>CreditHours</td>
            <td>Labs</td>
            <td>Title</td>
       </thead>
         {% for row in CourseGeneration %}
            <tr>
                <td>{{row["CourseGenID"]}}</td>
                <td>{{row["CRN"]}}</td>
                <td>{{row["CreditHours"]}}</td>
                <td>{{row["Labs"]}}</td>
                <td>{{row["Title"]}}</td>
            </tr>
         {% endfor %}</table>
   <form action = "{{ url_for('listm') }}" method = "POST">
    <h3>CourseGen</h3>
       Labs<br>
       <input type = "text" name = "Labs" /><br>
       Credit<br>
       <input type = "text" name = "Credit" /><br>
       Title<br>
       <input type = "text" name = "Title" /><br>
       CRN<br>
       <input type = "text" name = "CRN" /><br>
       <input type = "submit" name="subm1" value = "submit1" /><br>
   </form>
   <form action = "{{ url_for('listm') }}" method = "POST">
    <h3>Offering</h3>
       StudentTaking#<br>
       <input type = "text" name = "stu" /><br>
       ID<br>
       <input type = "text" name = "ID1" /><br>
       SemesterID<br>
       <input type = "text" name = "SemesterID1" /><br>
       CourseGenID<br>
       <input type = "text" name = "CourseGenID" /><br>
       <input type = "submit" name="subm1" value = "submit2" /><br>
   </form>
   <form action = "{{ url_for('listm') }}" method = "POST">
    <h3>Supervision</h3>
       ID<br>
       <input type = "text" name = "ID2" /><br>
       StudentID<br>
       <input type = "text" name = "StudentID" /><br>
       SupervisionClassID<br>
       <input type = "text" name = "SupervisionClassID" /><br>
       SemesterID<br>
       <input type = "text" name = "SemesterID2" /><br>
       <input type = "submit" name="subm1" value = "submit3" /><br>

   </form>
   <form action = "{{ url_for('listm') }}" method = "POST">
    <h3>ProjectSupervision</h3>
       ID<br>
       <input type = "text" name = "ID3" /><br>
       PseudoID<br>
       <input type = "text" name = "PseudoID" /><br>
       ProjectClassID<br>
       <input type = "text" name = "ProjectClassID" /><br>
       SemesterID<br>
       <input type = "text" name = "SemesterID3" /><br>
       <input type = "submit" name="subm1" value = "submit4" /><br>

   </form>
{% endblock %}
   </body>
</html>
