<!doctype html>
<html>
<head>
    <title>
        listMaster
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
{% extends "home.html" %}
{% block content %}
<body>
<table border = 1>
    <h3>Person</h3>
    <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Email</td>
    </thead>
    {% for row in Person %}
    <tr>
        <td><a href="/profile/{{row.id}}">{{row.id}}</a></td>
        <td>{{row.name}}</td>
        <td><a href="mailto:{{row.email}}?Subject=Hello%20HALBRED" target="_top">{{row.email}}</a></td>
    </tr>
    {% endfor %}</table>
<table border = 5>
    <h3>Team</h3>
    <thead>
    <td>teamID</td>
    <td>PName</td>
    <td>Pdescription</td>
    </thead>
    {% for row in ProjectType %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.description}}</td>
    </tr>
    {% endfor %}</table>
<table border = 1>
    <h3>Course</h3>
    <thead>
    <td>CRN</td>
    <td>Subj</td>
    <td>Crse</td>
    </thead>
    {% for row in Course %}
    <tr>
        <td><a href="/course/{{row.id}}">{{row.id}}</a></td>
        <td>{{row.subject}}</td>
        <td><a href="/c/{{row.code}}">{{row.code}}</a></td>
    </tr>
    {% endfor %}</table>
<table border = 3>
    <h3>Student</h3>
    <thead>
    <td>StudentID</td>
    <td>SName</td>
    <td>SEmail</td>
    </thead>
    {% for row in Student %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.email}}</td>
    </tr>
    {% endfor %}</table>
<table border = 5>
    <h3>SupervisionClass</h3>
    <thead>
    <td>SupervisionClassID</td>
    <td>Description</td>
    <td>Weight</td>
    </thead>
    {% for row in SupervisionClass %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.description}}</td>
        <td>{{row.weight}}</td>
    </tr>
    {% endfor %}</table>
<table border = 1>
    <h3>ProjectClass</h3>
    <thead>
    <td>ProjectClassID</td>
    <td>Description</td>
    <td>Weight</td>
    </thead>
    {% for row in ProjectClass %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.description}}</td>
        <td>{{row.weight}}</td>
    </tr>
    {% endfor %}</table>
<table border = 1>
    <h3>ProjectSupervision</h3>
    <thead>
    <td>ProjectSupervisionID</td>
    <td>ProjectClassID</td>
    <td>teamID</td>
    <td>SemesterID</td>
    </thead>
    {% for row in ProjectSupervision %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.project_class_id.id}}</td>
        <td>{{row.team_id.id}}</td>
        <td>{{row.semester.id}}</td>
    </tr>
    {% endfor %}</table>
<table border = 1>
    <h3>Supervision</h3>
    <thead>
    <td>SupervisionID</td>
    <td>SupervisionClassID</td>
    <td>StudentID</td>
    <td>SemesterID</td>
    </thead>
    {% for row in Supervision %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.supervision_class_id.id}}</td>
        <td>{{row.student_id.id}}</td>
        <td>{{row.semester.id}}</td>
    </tr>
    {% endfor %}</table>
<table border = 5>
    <h3>Adjustment</h3>
    <thead>
    <td>AdjustmentID</td>
    <td>ID</td>
    <td>ADJWeight</td>
    <td>AUDITCOMMENT</td>
    </thead>
    {% for row in Adjustment %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.instructor.id}}</td>
        <td>{{row.weight}}</td>
        <td>{{row.comment}}</td>
    </tr>
    {% endfor %}</table>
<table border = 5>
    <h3>Role</h3>
    <thead>
    <td>RoleID</td>
    <td>Name</td>
    <td>ViewOnlyYou</td>
    <td>ViewOnlyDept</td>
    <td>ViewOnlyAll</td>
    <td>EditDept</td>
    </thead>
    {% for row in Role %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.role_name}}</td>
        <td>{{row.view_only_you}}</td>
        <td>{{row.view_only_dept}}</td>
        <td>{{row.view_only_All}}</td>
        <td>{{row.edit_dept}}</td>
    </tr>
    {% endfor %}</table>
<table border = 1>
    <h3>Offering</h3>
    <thead>
    <td>OID</td>
    <td>StudentsTaking</td>
    <td>SemesterID</td>
    <td>CourseGenID</td>
    </thead>
    {% for row in Offering %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.enrolment}}</td>
        <td>{{row.semester.id}}</td>
        <td><a href="/gen/{{row.generation.id}}">{{row.generation.id}}</a></td>
    </tr>

    {% endfor %}</table>
<table border = 1>
    <h3>teaching</h3>
    <thead>
    <td>instructor</td>
    <td>oid</td>
    <td>sid</td>
    <td>pid</td>
    <td>rid</td>
    <td>split</td>
    </thead>
    {% for row in Mastermany %}
    <tr>
        <td><a href="/profile/{{row.instructor.id}}/history">{{row.instructor.id}}</a></td>
        <td>{{row.oid.id}}</td>
        <td>{{row.sid.id}}</td>
        <td>{{row.pid.id}}</td>
        <td>{{row.rid.id}}
        <td>{{row.split}}</td>

    {% endfor %}</table>
<table border = 5>
    <h3>Term</h3>
    <thead>
    <td>SemesterID</td>
    <td>Year</td>
    <td>Session</td>
    </thead>
    {% for row in Term %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.year}}</td>
        <td>{{row.session}}</td>
    </tr>
    {% endfor %}</table>
<table border = 1>
    <h3>CourseGeneration</h3>
    <thead>
    <td>CourseGenID</td>
    <td>CRN</td>
    <td>CreditHours</td>
    <td>lecture hours</td>
    <td>comments</td>
    <td>Labs</td>
    <td>Year generation</td>
    <td>Year valid</td>
    <td>Title</td>
    <td>Old course id</td>
    <td>Other info</td>
    </thead>
    {% for row in CourseGeneration %}
    <tr>
        <td><a href="/gen/{{row.id}}">{{row.id}}</a></td>
        <td>{{row.course.id}}</td>
        <td>{{row.credit_hours}}</td>
        <td>{{row.lecture_hours}}</td>
        <td>{{row.comments}}</td>
        <td>{{row.labs}}</td>
        <td>{{row.start_year}}</td>
        <td>{{row.end_year}}</td>
        <td>{{row.title}}</td>
        <td>{{row.previous_course}}</td>
        <td>{{row.other_info}}</td>
    </tr>
    {% endfor %}</table>
<form action = "{{ url_for('listm') }}" method = "POST">
    <h3>CourseGen</h3>
    Labs<br>
    <input type = "text" name = "Labs" /><br>
    Credit<br>
    <input type = "text" name = "Credit" /><br>
    Title<br>
    <input type = "text" name = "Title" /><br>
    CRN<br>
    <input type = "text" name = "CRN" /><br>
    <input type = "submit" name="subm1" value = "submit1" /><br>
</form>
<form action = "{{ url_for('listm') }}" method = "POST">
    <h3>Offering</h3>
    StudentTaking#<br>
    <input type = "text" name = "stu" /><br>
    ID<br>
    <input type = "text" name = "ID1" /><br>
    SemesterID<br>
    <input type = "text" name = "SemesterID1" /><br>
    CourseGenID<br>
    <input type = "text" name = "CourseGenID" /><br>
    <input type = "submit" name="subm1" value = "submit2" /><br>
</form>
<form action = "{{ url_for('listm') }}" method = "POST">
    <h3>Supervision</h3>
    ID<br>
    <input type = "text" name = "ID2" /><br>
    StudentID<br>
    <input type = "text" name = "StudentID" /><br>
    SupervisionClassID<br>
    <input type = "text" name = "SupervisionClassID" /><br>
    SemesterID<br>
    <input type = "text" name = "SemesterID2" /><br>
    <input type = "submit" name="subm1" value = "submit3" /><br>
</form>
<form action = "{{ url_for('listm') }}" method = "POST">
    <h3>ProjectSupervision</h3>
    ID<br>
    <input type = "text" name = "ID3" /><br>
    teamID<br>
    <input type = "text" name = "teamID" /><br>
    ProjectClassID<br>
    <input type = "text" name = "ProjectClassID" /><br>
    SemesterID<br>
    <input type = "submit" name="subm1" value = "submit4" /><br>
</form>
<form action = "{{ url_for('listm') }}" method = "POST">
    <h3>Adjustment</h3>
    ID<br>
    <input type = "text" name = "ID4" /><br>
    ADJWeight<br>
    <input type = "text" name = "ADJWeight" /><br>
    NOT WORKING  COMMENTED OUT IN PeeweeClass AUDITDATE<br>
    AUDITCOMMENT<br>
    <input type = "text" name = "AUDITCOMMENT" /><br>
    <input type = "submit" name="subm1" value = "submit5" /><br>
   </form>
{% endblock %}
</body>
</html>
