<!doctype html>
<html>
   <head>
      <title>
         profile
      </title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
          </head>
<form action = "{{ url_for('Profile',prof_id=instructor,) }}" method = "POST">
   {% extends "home.html" %}
   {% block content %}
   <h4>deficit</h4>
   <h2>{{deficit}}</h2>
   <h3>Personal Info</h3>
   <table border = 1>
       <thead>
       <td>ID</td>
       <td>Name</td>
       <td>Email</td>
       <td>start</td>
       </thead>
       <tr>
           <td><a href="/profile/{{person.id}}">{{person.id}}</td>
           <td>{{person.name}}</td>
           <td><a href="mailto:{{person.email}}?Subject=Hello%20HALBRED" target="_top">{{person.email}}</a></td>
           <td>{{person.start.year}}</td>
       </tr>
   </table>
   <h3>Supervisions</h3>
           <input type = "submit" name="subm1" value = "Supervisions CSV" /><br>
   <table border = 5>
       <thead>
       <td>SupervisionID</td>
       <td>SupervisionClass Description</td>
       <td>Weight</td>
       <td>StudentID</td>
       <td>SemesterYear</td>
       <td>SemesterSection</td>
       </thead>
       {{Stotal}}
       {% for row in supervision %}
       <tr>
           <td>{{row.id}}</td>
           <td>{{row.supervision_class_id.description}}</td>
           <td>{{row.supervision_class_id.weight}}</td>
           <td>{{row.student_id.id}}</td>
           <td>{{row.semester.year}}</td>
           <td>{{row.semester.session}}</td>
       </tr>
       {% endfor %}
   </table>
   <h3>Project Suppervisions</h3>
              <input type = "submit" name="subm1" value = "Project Supervisions CSV" /><br>
   <table border = 1>
       <thead>
       <td>ProjectSupervisionID</td>
       <td>description</td>
       <td>weight</td>
       <td>PseudoID</td>
       <td>SemesterYear</td>
       <td>SemesterSection</td>
       </thead>
       {{Ptotal}}
       {% for row in projectsupervision %}
       <tr>
           <td>{{row.id}}</td>
           <td>{{row.project_class_id.description}}</td>
           <td>{{row.project_class_id.weight}}</td>
           <td>{{row.team_id.id}}</td>
           <td>{{row.semester.year}}</td>
           <td>{{row.semester.session}}</td>
       </tr>
       {% endfor %}
   </table>
   <h3>Offerings</h3>
                 <input type = "submit" name="subm1" value = "Offerings CSV" /><br>
   <table border = 1>
       <thead>
       <td>OID</td>
       <td>StudentsTaking</td>
       <td>Crse</td>
       <td>Subj</td>
       <td>Labs</td>
       <td>SemesterYear</td>
       <td>SemesterSection</td>
       <td>credithours</td>
       <td>Courseid</td>
       <td>weight</td>
       </thead>
       {{Ototal}}
       {% for row in offering %}
       <tr>
           <td>{{row.oid.id}}</td>
           <td>{{row.oid.enrolment}}</td>
           <td><a href="/c/{{row.oid.generation.course.code}}">{{row.oid.generation.course.code}}</a></td>
           <td>{{row.oid.generation.course.subject}}</td>
           <td>{{row.oid.generation.labs}}</td>
           <td>{{row.oid.semester.year}}</td>
           <td>{{row.oid.semester.session}}</td>
           <td>{{row.oid.generation.credit_hours}}</td>
           <td><a href="/course/{{row.oid.generation.course.id}}">{{row.oid.generation.course.id}}</a></td>
           <td>{{list_forviewer[row.oid.id]*list_split[row.oid.id]}}</td>
       </tr>
       {% endfor %}</table>
   <table border = 5>
       <h3>Adjustment</h3>
       <thead>
       <td>Audjustment ID</td>
       <td>weight</td>
       <td>comment</td>
       <!--<td>overide_value</td>-->
       <!--<td>overide_address</td>-->
       </thead>
       {% for row in adjustment %}
       <tr>
           <td>{{row.id}}</td>
           <td>{{row.weight}}</td>
           <td>{{row.comment}}</td>
           <!--<td>{{row.overide_value}}</td>-->
           <!--<td>{{row.overide_address}}</td>-->
       </tr>
       {% endfor %}
    </table>
   <h3>Total</h3>
   {{total}}
    <!--<h3>Offering</h3>-->
        <!--weight<br>-->
        <!--<input type = "text" name = "weight" /><br>-->
        <!--oid<br>-->
        <!--<input type = "text" name = "myid" /><br>-->
        <!--comment<br>-->
        <!--<input type = "text" name = "AUDITCOMMENT" /><br>-->
        <!--<input type = "submit" name="subm1" value = "submit2" /><br>-->
</form>
       {% endblock %}
