<!DOCTYPE html>
<html lang="en">
<head>
        <style>
body {color: white;}
</style>
    <meta charset="UTF-8">
    <title>Reset</title>
</head>
<body bgcolor="101111">

   {% extends "Home.html" %}
{% block content %}
        <p>
    <form action = "{{ url_for('peeweetable') }}" method = "POST">
         <input type="submit" name="Full" value="Drop and ReCreate" />
         <input type="submit" name="Full" value="Drop" />
         <input type="submit" name="Full" value="Create" />
    </form>
    <h3>Table reseting</h3>
        </p>
{% endblock %}
</body>
</html>